html {
  font-size: 100%;
  box-sizing: border-box;
  scrollbar-color: #f94444 #1d1d1d;
  scrollbar-width: thin;
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #f94444;
}
html::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

body {
  font-family: AvenirLight;
  cursor: default;
  overflow-x: hidden;
  background-color: #1d1d1d;
  color: #e1d8c5;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
