@font-face {
  font-family: "AvenirLight";
  src: url("../../fonts/Avenir/Avenir-Light-07.ttf");
}

@font-face {
  font-family: "AvenirRoman";
  src: url("../../fonts/Avenir/Avenir-Roman-12.ttf");
}

@font-face {
  font-family: "AvenirBook";
  src: url("../../fonts/Avenir/Avenir-Book-01.ttf");
}

@font-face {
  font-family: "AvenirMedium";
  src: url("../../fonts/Avenir/Avenir-Medium-09.ttf");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("../../fonts/Avenir/Avenir-Heavy-05.ttf");
}

@font-face {
  font-family: "Valencia";
  src: url("../../fonts/Valencia/Valencia.ttf");
}

@font-face {
  font-family: "Sequel";
  src: url("../../fonts/Sequel/Sequel Sans Black Body.ttf");
}

@font-face {
  font-family: "SequelHead";
  src: url("../../fonts/Sequel/Sequel Sans Black Head.ttf");
}

@font-face {
  font-family: "SequelHeavy";
  src: url("../../fonts/Sequel/Sequel Sans Heavy Head.ttf");
}

@font-face {
  font-family: "SequelBold";
  src: url("../../fonts/Sequel/Sequel Sans Bold Head.ttf");
}
